.form-group {
    overflow: hidden;
    .block{
        overflow: hidden;
    }
    select {
        width: 90%;
    }
    .select-mark{
        width: 10%;
        display: block;
        padding: 5px 0 0 5px;
    }
}